{erl_opts, [warn_unused_import, warn_export_vars, verbose, report, debug_info]}.

{minimum_otp_vsn, "26"}.

{deps, [
    {cowboy, "~> 2.10"},
    {oidcc, "3.0.0-alpha.2"},
    {cowboy_session,
        {git, "https://github.com/f1sty/cowboy_session.git",
            {ref, "f7853046875a6a4ccc4b3f5a24f9ea28c2c9fb8d"}}}
]}.

{project_plugins, [
    %% Revert back to released version when this PR is merged & released:
    %% https://github.com/markusn/coveralls-erl/pull/36
    {coveralls, ".*",
        {git, "https://github.com/RoadRunnr/coveralls-erl.git", {branch, "feature/git-info"}}},
    erlfmt,
    rebar3_hank,
    rebar3_lint,
    rebar3_hex,
    rebar3_ex_doc
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{validate_app_modules, true}.

{hank, [{ignore, [{"test/**/*_SUITE.erl", [unnecessary_function_arguments]}, "include/**/*.hrl"]}]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/Erlang-Openid/oidcc_cowboy"},
    {source_url, "https://github.com/Erlang-Openid/oidcc_cowboy"}
]}.

{profiles, [
    {test, [
        {deps, [{meck, "~> 0.9"}]},
        {cover_enabled, true},
        {cover_export_enabled, true},
        {coveralls_coverdata, "_build/test/cover/*.coverdata"},
        {coveralls_service_name, "github"},
        {cover_opts, [verbose]}
    ]}
]}.

{erlfmt, [
    write,
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "example/{src,include,test}/*.{hrl,erl,app.src}",
        "example/rebar.config"
    ]}
]}.

{shell, [{apps, [oidcc_cowboy]}]}.
